.App {
  border: 1rem solid black;
  padding: 1rem;
  
}

.title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline  wavy black;
  color: red;
  text-transform: uppercase;
}
.background-color__car {
  
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  padding: 0.5rem ;
}

.para {
  width: 50%;
  text-align: center;
  margin: 2rem auto;
  font-weight: bold;
  color: red;
}

.para2 {
  width: 50%;
  text-align: center;
  margin: 2rem auto;
  font-weight: bold;
  color: blue;
}

.cars {
  text-align: center;
  
}

.parent {
  text-align: center;
}

.btn-reponse {
  font-size: 2rem;
  font-weight: bolder;
}

.carsTable {
  font-family: "Trebuchet MS", Arial, Helvetica, serif, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 20% auto;
}

.carsTable td, .carsTable th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 33%;
  text-align: center;
}

.carsTable tr:hover {
    background-color: #ddd;
}

.carsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(24, 99, 160);
  color: white;
}