.title {
  text-align: center;
  font-size: 2rem;
  text-decoration: underline overline wavy black;
  color: red;
  text-transform: uppercase;
  
}
.background-color__car {
  background-color: pink;
  text-align: center;
  width: 50%;
  margin: 1rem auto;
  padding: 0.5rem ;
}

.para {
  width: 50%;
  text-align: left;
  margin: 2rem auto;
}